<div class="p-3 mt-3 mb-3 mat-elevation-z8" fxFlex="70" fxFlexFill fxFlexOffset="15">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <p>Product Number: {{id}}</p>
    <p>Product Date: {{productDate | date: 'shortDate'}}</p>
    <div></div>
  </div>
    <form (ngSubmit)="add()" [formGroup]="form" fxLayout="column" fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput name="name"
        />
      </mat-form-field>
      <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
        <small *ngIf="form.get('name').errors.required">Name is required</small>
        <small *ngIf="form.get('name').errors.minlength">Name length must be more than 1</small>
      </mat-error>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" formControlName="price" matInput
        />
        <mat-error *ngIf="form.get('price').invalid && form.get('price').touched">
          <small *ngIf="form.get('price').errors.required">Price is required</small>
        </mat-error>
        <mat-error *ngIf="form.get('price').invalid">
          <small *ngIf="form.get('price').errors.min">Selected price is too low</small>
          <small *ngIf="form.get('price').errors.max">Selected price is higher than available quantity</small>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input type="number" formControlName="quantity" matInput
        />
        <mat-error *ngIf="form.get('quantity').invalid && form.get('quantity').touched">
          <small *ngIf="form.get('quantity').errors.required">Quantity is required</small>
        </mat-error>
        <mat-error *ngIf="form.get('quantity').invalid">
          <small *ngIf="form.get('quantity').errors.integer">Selected quantity is not an integer</small>
          <small *ngIf="form.get('quantity').errors.min">Selected quantity is too low</small>
          <small *ngIf="form.get('quantity').errors.max">Selected quantity is higher than available quantity</small>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <mat-select formControlName="productSize">
          <mat-option *ngFor="let stat of size" value="{{stat}}">
            {{stat}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="form.get('productSize').invalid && form.get('productSize').touched">
        <small *ngIf="form.get('productSize').errors.required">Size is required</small>
      </mat-error>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="productCategory">
          <mat-option *ngFor="let stat of category" value="{{stat}}">
            {{stat}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="form.get('productCategory').invalid && form.get('productCategory').touched">
        <small *ngIf="form.get('productCategory').errors.required">Category is required</small>
      </mat-error>
      <div class="mt-4" fxLayout="row" fxLayoutAlign="space-between center">
        <button color="primary" type="button" mat-flat-button routerLink="/products">Cancel</button>
        <button [disabled]="!form.valid" color="primary" mat-flat-button type="submit">Submit</button>
      </div>
    </form>
</div>
